@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cheney High School<br />
    460 N 6th St.<br />
    Cheney, WA 99004<br />
    <abbr title="Phone">P:</abbr>
    509.559.4000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mattjdpler@gmail.com">mattjdupler@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kiersten@nancygasper.com">kiersten@nancygasper.com</a>
</address>